:root{
    --white-color: #fff;
    --black-color:#000;
    --text-color:#333;
    --primary-color: #49AFB4;
    --boder-color:#dbdbdb;
    --star-color: #e5e83e;
}

*{
    box-sizing:inherit ;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.grid{
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__full-width{
    width: 100%;
}

.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}
.grid-column-2{
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}
.grid-column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

.grid-column-10{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 60px;
    width: 83.3333%;
}

@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes headerNotif{
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes growth{
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}

.modal{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: FadeIn linear 0.1s;
}
.modal__body{
    position:relative;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.3s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}

/* button login */
.btn{
    height: 34px;
    min-width: 142px;
    border: none;
    text-decoration: none;
    border-radius: 2px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
	color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px 0 4px;
    background-color: var(--white-color);
}

/*có sửa background-color cho btn*/
.btn.control__back:hover{
    background-color: rgba(0, 0, 0, 0.03);
}
.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn__size-s{
    padding: 0 8px;
    height: 30px;
    font-size: 1.15rem;
}
.btn.btn--disable{
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}
/*select-input*/
.select-input{
    z-index: 1;
    min-width: 200px;
    height: 34px;
    font-size: 1.4rem;
    padding: 0 12px;
    outline: none;
    cursor: pointer;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

